@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cplusplus,
.nextjs {
  width: 55%;
}
.spring {
  width: 50%;
}
.tailwindcss {
  width: 79%;
}
.reactjs {
  width: 85%;
}
.lua {
  width: 65%;
}
.csharp {
  width: 80%;
}
.javascript,
.java,
.python {
  width: 90%;
}

.html,
.css {
  width: 100%;
}
